.img-wrapper .remove{
    visibility: hidden;
    font-size: 1.5em;
    padding:5px 10px;
}
.img-wrapper:hover .remove{
    visibility: visible;
    cursor:pointer;
}
.uploader-wrap {
    position:relative;
    cursor:pointer;
}
.uploader-wrap .icon{
    font-size:2em;
    color:green;    
}
.uploader-wrap input#fileUploader {
    opacity: 0;
    display: block;
    position:absolute;
    top:0;
    left:0;
    z-index: 2;
    cursor: pointer !important;
    min-height: 100%;
}