/*!
 * Start Bootstrap - Shop Homepage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color:#eceff1 !important;
}
a{
    color:#03a9f4;
}
a:hover{
    color:#03a9f4;
}
.panel {
    border:none;
}
.text-long-shadow {
  text-shadow: rgb(29, 125, 116) 1px 1px, rgb(29, 125, 116) 2px 2px, rgb(29, 125, 116) 3px 3px, rgb(29, 125, 116) 4px 4px, rgb(29, 125, 116) 5px 5px, rgb(29, 125, 116) 6px 6px, rgb(29, 125, 116) 7px 7px, rgb(29, 125, 116) 8px 8px, rgb(29, 125, 116) 9px 9px, rgb(29, 125, 116) 10px 10px, rgb(29, 125, 116) 11px 11px, rgb(29, 125, 116) 12px 12px, rgb(29, 125, 116) 13px 13px, rgb(29, 125, 116) 14px 14px, rgb(29, 126, 117) 15px 15px, rgb(29, 128, 119) 16px 16px, rgb(30, 130, 120) 17px 17px, rgb(30, 132, 122) 18px 18px, rgb(30, 133, 124) 19px 19px, rgb(31, 135, 125) 20px 20px, rgb(31, 137, 127) 21px 21px, rgb(32, 139, 129) 22px 22px, rgb(32, 141, 130) 23px 23px, rgb(32, 142, 132) 24px 24px, rgb(33, 144, 134) 25px 25px, rgb(33, 146, 135) 26px 26px, rgb(34, 148, 137) 27px 27px, rgb(34, 149, 139) 28px 28px, rgb(34, 151, 140) 29px 29px, rgb(35, 153, 142) 30px 30px, rgb(35, 155, 144) 31px 31px, rgb(36, 157, 145) 32px 32px, rgb(36, 158, 147) 33px 33px, rgb(36, 160, 149) 34px 34px, rgb(37, 162, 150) 35px 35px, rgb(37, 164, 152) 36px 36px, rgb(38, 166, 154) 37px 37px;
  /*background-color: rgb(38, 166, 154);
  /* height: 100%; 
  width: 100%;*/
  font-size: 3rem;
  color: #fff !important;
  text-align: center;
  padding: 30px 0 !important;
}
.curency::before{
    content:"Rp. ";
}
body.lock {
    overflow:hidden;
}
/** navbar **/
.navbar {
    background-color: #81d4fa;
    /*border-color:#03a9f4;*/
    border:none;
}
.navbar .navbar-brand{
    color:#fff;
    transition:all ease-in-out 0.5s;
}
.navbar .navbar-brand:hover{
    color:#01579b;
}
.navbar .navbar-nav>li>a {
    color:#fff;
    transition:color ease-in-out 0.2s;
}
.navbar .navbar-nav>li>a:hover{
    color:#fff;
}
.navbar .navbar-nav>li{
    transition:all ease-in-out 0.3s;
}
.navbar .navbar-nav>li:hover{
    background-color:rgba(255, 255, 255, 0.2);
}
.navbar .navbar-text {
    color:#01579b;
    margin-right:10px;
}
.navbar .navbar-form input{
    border-right:none;
}
.navbar .navbar-form input,
.navbar .navbar-form button {
    border:1px solid #81d4fa;
    box-shadow:none;
}

.navbar .navbar-form button{
    color:#01579b;
    transition:all ease-in-out 0.5s;
    border-left:none;
}
.navbar .navbar-form button:hover{
    background-color:#fff;
    color:#81d4fa;
}
.navbar .navbar-form input:focus {
    box-shadow:none;
    border-right:none;
}
.navbar-default .navbar-toggle{
    border-color:transparent;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color:#fff;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover{
    background-color: #03a9f4;
}
.navbar-default .navbar-collapse, 
.navbar-default .navbar-form{
    border-color:#f7f7f7;
}
span#sCart_counter::before {
    content:"(";
}
span#sCart_counter::after {
    content:")";
}
/*
 * panel category
 */
.left-container {
    /* background-color:#fefefe;
    padding-top:10px;
    border:1px solid rgba(129, 212, 250, 0.55); */
}
.middle-container {
    background-color:#fff;
}
.left-container{
    margin-bottom:10px;
}
body{
    font-family:'Roboto', 'arial', 'sans-serif';
}
.footer-container,
.footer-container footer {
    background-color:#fefefe;
    text-align:center;
}
.social-media li{
    display:inline-block;
}
.social-media li a{
    font-size:1.5em;
    padding:5px 10px;
}
.panel-category .lead {
    background-color:#81d4fa;
    margin:0 0 5px;
    padding:10px;
    color:#01579b;
}
.panel-category .panel-body{
    padding:0;
}
.panel-category .category-wrapper {
    border-radius:0;
}
.panel-category .list-group{
}
.panel-category .category-wrapper a.list-group-item{
    color:#03a9f4;
    border-radius:0;
    border:none;
}
/**
 * Slider
 */
.slide-image {
    width: 100%;
}
.carousel-inner {
    /**border:1px solid rgba(129, 212, 250, 0.55);*/
}
.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

/** product item */
.product-item .thumbnail.shadow{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.product-item .thumbnail{
    /*border-color:rgba(129, 212, 250, 0.55);/*#81d4fa;*/
    border:none;
    border-radius:4px 4px;
    text-align:center;
    padding:10px;
}
.product-item .thumbnail img.lazy {
    background-image:url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    padding: 50px 0;
    background-color:#f8f8f8;
}