.show-only-print {
	display:none;
}
@media print {
	body{
		background-color:#eee;
	}
	.hide-print {
		display:none !important;
	}
	.hidden-print {
		visibility: hidden !important;
	}
	.show-only-print {
		display:block;
	}
}