/*
 * File 		:	style.css
 * Lokasi File	: 	css/style.css
 * Pembuat		:	RielMelfost / Muh. Sukrillah
 * URL Pembuat	: 	http://www.rielmelfost.net
 * Versi		:	1.0
 * Lisensi		: 	Open Source
 */
html, body, html *{
	margin:0;
	padding:0;
}
body{
	background:url(../images/bg.gif);
}
p{
	font-family:Arial;
	font-size:12px;
}
.wrapper{
	position:relative;
	margin:0 auto;
	display:block;
	width:802px;
	display:block;
	clear:both;
}
.inner{
	position:relative;
	margin:0 auto;
	float:left;
	border-top-style:none!important;
	border:1px solid #2c540a;
}
#header{
	background:url(../images/banner.png);
	height:200px;
}
#header .title{
	position:absolute;
	top:25px;
	left:25px;
	font-size:35px;
}
#header .title a{
	color:#fcfcfc;
}
.top-menu{
	background:#457314;
	border-top:1px solid #2c540a;
	border-bottom:1px solid #2c540a;
}
.content-wrapper, .content-inner{
	clear:both;
	display:block;
	float:left;
}
#left{
	width:225px;
	height:auto;
	clear:left;
	float:left;
}
.left-menu{
	padding:0;
	margin:0px 0px 0px 20px;
}
.left-menu li{
	margin:10px 0px 0px 10px;
	list-style:url(../images/menu.png);
}
.left-menu li a{
	text-decoration:none;
	color:#2c540a;
	font-family:sans-serif;
	font-size:12px;
	margin-top:-10px;
}
.left-menu li a:hover{
	color:#deefcb;
}
.left-menu li:hover{
	list-style:url(../images/menu-hover.png);
}
#right{
	float:right;
	clear:right;
	display:block;
	margin:0;
	width:554px;
	height:600px;
	padding:10px;
	overflow:auto;
	border-left:1px solid #2c540a;	
	border-top:1px solid #2c540a;
}

#footer{
	border-top:1px solid #2c540a;
	height:75px;
	float:left;
	width:800px;
	text-align:center;
	padding:25px 0px 0px 0px;
	font-size:12px;
	font-family:sans-serif;
	font-weight:normal;
}
#footer a{
	text-decoration:blink;
}
.error404{
	text-align:center;
	padding:25px 10px;
	height:150px;
}
.error{
	border:1px solid #f0256c;
	background-color:#f5c0d3;
	background-image:url(../images/warning.png);
	background-repeat:no-repeat;
	background-position:5px 5px;
}
.sukses{
	background:#c7e8d7 url(../images/ok.png) no-repeat 5px 5px;
	border:1px solid #00a651;
}
.error, .sukses{
	font-family:sans-serif;
	font-size:12px;
	text-transform:capitalize;
	padding:5px 5px 5px 30px;
}
.tombol1{
	background-image:url(../images/btn.gif);
	border:1px solid #00a651;
	border-radius:5px 5px;
	cursor:pointer;
	padding:10px 15px;
	font-family:monospace;
	font-size:14px;
	font-weight:bold;
}
.tombol1:active{
	background-color:#00a651;
	background-image:none;
}
.date{
	font-family:sans-serif;
	font-size:12px;
	text-align:right;
	padding:5px 10px;
	color:#fff;
}

fieldset{
	padding:10px;
}
form label{
	cursor:pointer;
}
.title, table{
	font-family:sans-serif;
	font-size:14px;
}

table{
	font-size:12px !important;
}
table tr td{
	padding:5px;
}
input[type="text"], select, input[type="file"], input[type="password"]{
	padding:4px;
	border-radius:2px;
	border:1px solid #d0d0d0;
	outline:none;
}
input[type="text"]:hover, select:hover, input[type="file"]:hover, input[type="password"]:hover{
	border:1px solid #333;
}
input[type="text"]:focus, select:focus{
	border:1px solid #06d;
}

.widefat{
	border-top:1px solid #00a651;
	border-right:1px solid #00a651;
	margin:10px 0px;
}
.widefat thead th{
	padding:5px 10px;
	background-image:#00a651;
	background-image:-webkit-linear-gradient(#c7e8d7, #00a651);
}
.widefat th, .widefat td{
	border-left:1px solid #00a651;
	border-bottom:1px solid #00a651;
	text-align:center;
}
.widefat .data{
	background-color:#f7f7f7;
}
.widefat .aksi{
	background-color:#fff;
}
.widefat .left{
	text-align:left;
}
.tebal{
	font-weight:bold;
}